.Pagination{
    padding: 20px 0px;
    width: 200px;
    margin: auto;
}

.Pagination-Container{
    margin: auto;
    position: relative;
    display: inline-block;
    width: 100%;
    text-align: center;
}